:root {
  --black: #1b1d29;
  --white: #ffffff;
  --bg-overlay: RGB(253, 255, 206, 0.96);
  --btn-red: #fe4c13;
  --btn-red-hover: #ee3a01;
  --btn-light-blue: #3fb3e4;
  --btn-light-blue-hover: #21a7e0;
  --shadow: #cccea7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html,
#app {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
}

/******* 
 * APP *
 *******/

#app {
  background: var(--bg-overlay);
  overflow-y: scroll;
}

.app-overlay {
  margin-top: 30px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  /*background: url(../images/american-flag.jpeg) no-repeat center center fixed;*/
  background-size: cover;
  z-index: -1;
}

/********** 
 * HEADER *
 **********/

header {
  background: var(--black);
  padding: 1rem 2rem;
}

.logo {
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* US ELECTIONS */
.logo h1 {
  font-size: 3rem;
}

/* Star */
.logo img {
  margin-right: 1rem;
  width: 4rem;
}

/******** 
 * MAIN *
 ********/

main {
  height: 100%;
  margin: 30px;
}

.cards {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5rem 0;
}

/* Card */
.card {
  width: 25rem;
  border: 2px solid var(--black);
  overflow: hidden;
  box-shadow: 15px 15px 6px var(--shadow);
  transition: all 0.5s ease;
  cursor: pointer;
}

.card:first-of-type {
  margin-bottom: 5rem;
}

/* Card image */
.card-image {
  width: 25rem;
  height: 20rem;
  object-fit: cover;
  vertical-align: middle;
}

/* Card information */
.card-info {
  display: flex;
  justify-content: space-evenly;
  background: var(--white);
  color: var(--black);
  padding: 2rem 0;
}

.candidate-votes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
}

.votes-number-party1,
.votes-number-party2 {
  font-weight: 700;
  font-size: 2.5rem;
}

.votes-text {
  font-size: 1rem;
  font-weight: 600;
}

/* Line */
.line {
  width: 0.1rem;
  background: var(--black);
}

/* Candidate info */
.candidate-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.candidate-name {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.candidate-party {
  font-size: 1rem;
  font-weight: 600;
}

/* Card button */
.card-btn {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1.5rem 0;
  color: var(--white);
  cursor: pointer;
  border-top: 2px solid var(--black);
}

.btn-party1,
.btn-party2 {
  transition: all 0.5s ease;
}

.btn-party1 {
  background: var(--btn-red);
}

.btn-party2 {
  background: var(--btn-light-blue);
}


/* These styles will be applied on devices that have a width of at least 768px */
@media screen and (min-width: 768px) {
  .logo {
    justify-content: flex-start;
  }

  .cards {
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    padding: 0;
    width: 85%;
    margin: 0 auto;
  }

  .card {
    width: 30rem;
  }

  .card:first-of-type {
    margin-bottom: 0;
  }

  .card-image {
    width: 30rem;
    height: 26rem;
  }

  .votes-number-party1,
  .votes-number-party2 {
    font-size: 3.5rem;
  }

  .votes-text {
    font-size: 1.3rem;
    font-weight: 600;
  }

  .candidate-name {
    font-size: 2rem;
  }

  .candidate-party {
    font-size: 1.1rem;
  }

  .card-btn {
    font-size: 2rem;
  }
}

/* These styles will be applied on devices that have a width of at least 1024px */
@media screen and (min-width: 1024px) {
  .cards {
    width: 70%;
  }

  .card:hover {
    transform: translateY(-2rem);
  }

  .card:hover .btn-party1,
  .card:hover .btn-party2 {
    font-size: 2.5rem;
  }

  .btn-party1:hover {
    background: var(--btn-red-hover);
  }

  .btn-party2:hover {
    background: var(--btn-light-blue-hover);
  }
}

/* These styles will be applied on devices that have a width of at least 1400px */
@media screen and (min-width: 1400px) {
  .cards {
    width: 60%;
  }
}
